<!-- <div class="tariff-list"> -->
  <div class="tariff-list-container" [formGroup]="tariffForm">
    <div class="titleSection">
      <h2>Select Tariffs to compare</h2>

      <div class="compare-button-container" *ngIf="totalSelected > 0">
        <button routerLink="/compare" routerLinkActive="active">Compare Selected Tariffs ({{ totalSelected }})</button>
      </div>

      <button (click)="sortTariffs()">
        Sort by Price ({{ sortAscending ? 'Ascending' : 'Descending' }})
      </button>
    </div>

    <div class="tariff-card-list">
      <div class="tariff-card" *ngFor="let tariff of tariffs$ | async;">

        <div class="content"> 
          <h3>{{ tariff.name }}</h3>
          <p><strong>Price:</strong> {{ tariff.price }} €</p>
          <p><strong>Supplier:</strong> {{ tariff.supplier }}</p>
          <p><strong>Description:</strong> {{ tariff.description }}</p>
        </div>

        <div class="action-buttons">  
          <button *ngIf="!tariff.selected"  type="button" class="btn btn-success" (click)="addToCompare(tariff)">Add to Compare</button>
          <button *ngIf="tariff.selected" type="button" class="btn btn-secondary" (click)="addToCompare(tariff)">Remove</button>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->