.tariff-list {
    // max-width: 80%;
    margin: auto;
    text-align: center;
  
    // h1 {
    //   margin-bottom: 20px;
    // }

    .titleSection {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .table-responsive{
      display: inline-block;
    }
}