<div class="mainContainer"> 
    <div class="compare-container" *ngIf="tariffsLength > 0">
        <h2 *ngIf="tariffsLength > 0">Compare Selected Tariffs</h2>
    
        <div class="tariff-cards">
            <div class="tariff-card" *ngFor="let tariff of tariffs$ | async">
                <h3>{{ tariff.name }}</h3>
                <p><strong>Price:</strong> {{ tariff.price }} €</p>
                <p><strong>Supplier:</strong> {{ tariff.supplier }}</p>
                <p><strong>Description:</strong> {{ tariff.description }}</p>
            </div>
        </div>
    </div>

    <h2 *ngIf="tariffsLength == 0">No tariffs selected for comparison.</h2>
</div>
